<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.john.cils.mapper.CilsProductSpuMapper">

    <resultMap type="CilsProductSpu" id="CilsProductSpuResult">
        <result property="id" column="id"/>
        <result property="spuCode" column="spu_code"/>
        <result property="productName" column="product_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="mainImage" column="main_image"/>
        <result property="isAudit" column="is_audit"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCilsProductSpuVo">
        select id,
               spu_code,
               product_name,
               category_id,
               main_image,
               is_audit,
               create_by,
               create_time,
               update_time,
               remark
        from cils_product_spu
    </sql>

    <select id="selectCilsProductSpuList" parameterType="CilsProductSpu" resultMap="CilsProductSpuResult">
        <include refid="selectCilsProductSpuVo"/>
        <where>
            <if test="spuCode != null  and spuCode != ''">and spu_code = #{spuCode}</if>
            <if test="productName != null  and productName != ''">and product_name like concat('%', #{productName},
                '%')
            </if>
            <if test="categoryId != null ">and category_id = #{categoryId}</if>
            <if test="mainImage != null  and mainImage != ''">and main_image = #{mainImage}</if>
            <if test="isAudit != null ">and is_audit = #{isAudit}</if>
        </where>
    </select>

    <select id="selectCilsProductSpuById" parameterType="Long" resultMap="CilsProductSpuResult">
        <include refid="selectCilsProductSpuVo"/>
        where id = #{id}
    </select>

    <insert id="insertCilsProductSpu" parameterType="CilsProductSpu" useGeneratedKeys="true" keyProperty="id">
        insert into cils_product_spu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuCode != null and spuCode != ''">spu_code,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="mainImage != null">main_image,</if>
            <if test="isAudit != null">is_audit,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuCode != null and spuCode != ''">#{spuCode},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="mainImage != null">#{mainImage},</if>
            <if test="isAudit != null">#{isAudit},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCilsProductSpu" parameterType="CilsProductSpu">
        update cils_product_spu
        <trim prefix="SET" suffixOverrides=",">
            <if test="spuCode != null and spuCode != ''">spu_code = #{spuCode},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="mainImage != null">main_image = #{mainImage},</if>
            <if test="isAudit != null">is_audit = #{isAudit},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCilsProductSpuById" parameterType="Long">
        delete
        from cils_product_spu
        where id = #{id}
    </delete>

    <delete id="deleteCilsProductSpuByIds" parameterType="String">
        delete from cils_product_spu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>