<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.john.cils.mapper.CilsProductSkuMapper">

    <resultMap type="CilsProductSku" id="CilsProductSkuResult">
        <result property="id" column="id"/>
        <result property="spuId" column="spu_id"/>
        <result property="skuCode" column="sku_code"/>
        <result property="specInfo" column="spec_info"/>
        <result property="skuImage" column="sku_image"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="stockQty" column="stock_qty"/>
        <result property="weightKg" column="weight_kg"/>
        <result property="isAudit" column="is_audit"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCilsProductSkuVo">
        select id,
               spu_id,
               sku_code,
               spec_info,
               sku_image,
               purchase_price,
               stock_qty,
               weight_kg,
               is_audit,
               remark,
               create_time,
               update_time
        from cils_product_sku
    </sql>

    <select id="selectCilsProductSkuList" parameterType="CilsProductSku" resultMap="CilsProductSkuResult">
        <include refid="selectCilsProductSkuVo"/>
        <where>
            <if test="spuId != null ">and spu_id = #{spuId}</if>
            <if test="skuCode != null  and skuCode != ''">and sku_code = #{skuCode}</if>
            <if test="isAudit != null ">and is_audit = #{isAudit}</if>
            and del_flag = '0'
        </where>
    </select>

    <select id="selectCilsProductSkuById" parameterType="Long" resultMap="CilsProductSkuResult">
        <include refid="selectCilsProductSkuVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <insert id="insertCilsProductSku" parameterType="CilsProductSku" useGeneratedKeys="true" keyProperty="id">
        insert into cils_product_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null">spu_id,</if>
            <if test="skuCode != null and skuCode != ''">sku_code,</if>
            <if test="specInfo != null">spec_info,</if>
            <if test="skuImage != null">sku_image,</if>
            <if test="purchasePrice != null">purchase_price,</if>
            <if test="stockQty != null">stock_qty,</if>
            <if test="weightKg != null">weight_kg,</if>
            <if test="isAudit != null">is_audit,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuId != null">#{spuId},</if>
            <if test="skuCode != null and skuCode != ''">#{skuCode},</if>
            <if test="specInfo != null">#{specInfo},</if>
            <if test="skuImage != null">#{skuImage},</if>
            <if test="purchasePrice != null">#{purchasePrice},</if>
            <if test="stockQty != null">#{stockQty},</if>
            <if test="weightKg != null">#{weightKg},</if>
            <if test="isAudit != null">#{isAudit},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateCilsProductSku" parameterType="CilsProductSku">
        update cils_product_sku
        <trim prefix="SET" suffixOverrides=",">
            <if test="spuId != null">spu_id = #{spuId},</if>
            <if test="skuCode != null and skuCode != ''">sku_code = #{skuCode},</if>
            <if test="specInfo != null">spec_info = #{specInfo},</if>
            <if test="skuImage != null">sku_image = #{skuImage},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="stockQty != null">stock_qty = #{stockQty},</if>
            <if test="weightKg != null">weight_kg = #{weightKg},</if>
            <if test="isAudit != null">is_audit = #{isAudit},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteCilsProductSkuById" parameterType="Long">
        update cils_product_sku set del_flag = '2', update_time = sysdate() where id = #{id}
    </update>

    <update id="deleteCilsProductSkuByIds" parameterType="String">
        update cils_product_sku set del_flag = '2', update_time = sysdate() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>