<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.john.cils.mapper.CilsPlatformMappingMapper">

    <resultMap type="CilsPlatformMapping" id="CilsPlatformMappingResult">
        <result property="id"    column="id"    />
        <result property="skuId"    column="sku_id"    />
        <result property="platformType"    column="platform_type"    />
        <result property="platformSku"    column="platform_sku"    />
        <result property="platformItemId"    column="platform_item_id"    />
        <result property="salePrice"    column="sale_price"    />
        <result property="currency"    column="currency"    />
        <result property="syncStatus"    column="sync_status"    />
        <result property="syncFailReason"    column="sync_fail_reason"    />
        <result property="targetCountry"    column="target_country"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCilsPlatformMappingVo">
        select id, sku_id, platform_type, platform_sku, platform_item_id, sale_price, currency, sync_status, sync_fail_reason, target_country, remark, create_time, update_time from cils_platform_mapping
    </sql>

    <select id="selectCilsPlatformMappingList" parameterType="CilsPlatformMapping" resultMap="CilsPlatformMappingResult">
        <include refid="selectCilsPlatformMappingVo"/>
        <where>
            <if test="skuId != null "> and sku_id = #{skuId}</if>
            <if test="platformType != null  and platformType != ''"> and platform_type = #{platformType}</if>
            <if test="platformSku != null  and platformSku != ''"> and platform_sku = #{platformSku}</if>
            <if test="salePrice != null "> and sale_price = #{salePrice}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
            <if test="syncStatus != null "> and sync_status = #{syncStatus}</if>
            <if test="targetCountry != null  and targetCountry != ''"> and target_country = #{targetCountry}</if>
            and del_flag = '0'
        </where>
    </select>

    <select id="selectCilsPlatformMappingById" parameterType="Long" resultMap="CilsPlatformMappingResult">
        <include refid="selectCilsPlatformMappingVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <insert id="insertCilsPlatformMapping" parameterType="CilsPlatformMapping" useGeneratedKeys="true" keyProperty="id">
        insert into cils_platform_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuId != null">sku_id,</if>
            <if test="platformType != null and platformType != ''">platform_type,</if>
            <if test="platformSku != null and platformSku != ''">platform_sku,</if>
            <if test="platformItemId != null">platform_item_id,</if>
            <if test="salePrice != null">sale_price,</if>
            <if test="currency != null">currency,</if>
            <if test="syncStatus != null">sync_status,</if>
            <if test="syncFailReason != null">sync_fail_reason,</if>
            <if test="targetCountry != null">target_country,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuId != null">#{skuId},</if>
            <if test="platformType != null and platformType != ''">#{platformType},</if>
            <if test="platformSku != null and platformSku != ''">#{platformSku},</if>
            <if test="platformItemId != null">#{platformItemId},</if>
            <if test="salePrice != null">#{salePrice},</if>
            <if test="currency != null">#{currency},</if>
            <if test="syncStatus != null">#{syncStatus},</if>
            <if test="syncFailReason != null">#{syncFailReason},</if>
            <if test="targetCountry != null">#{targetCountry},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateCilsPlatformMapping" parameterType="CilsPlatformMapping">
        update cils_platform_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="platformType != null and platformType != ''">platform_type = #{platformType},</if>
            <if test="platformSku != null and platformSku != ''">platform_sku = #{platformSku},</if>
            <if test="platformItemId != null">platform_item_id = #{platformItemId},</if>
            <if test="salePrice != null">sale_price = #{salePrice},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="syncStatus != null">sync_status = #{syncStatus},</if>
            <if test="syncFailReason != null">sync_fail_reason = #{syncFailReason},</if>
            <if test="targetCountry != null">target_country = #{targetCountry},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteCilsPlatformMappingById" parameterType="Long">
        update cils_platform_mapping set del_flag = '2', update_time = sysdate() where id = #{id}
    </update>

    <update id="deleteCilsPlatformMappingByIds" parameterType="String">
        update cils_platform_mapping set del_flag = '2', update_time = sysdate() where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>